In [0]:
#importing pyspark
import pyspark

from pyspark.sql import SparkSession

# Creating a SparkSession
spark = SparkSession.builder.getOrCreate()

In [0]:
#File moved to the required path
#dbutils.fs.mv("dbfs:/FileStore/shared_uploads/amanjainworkemail@gmail.com/skill2vec_50K_csv-1.gz",\
               #"/FileStore/tables/skill2vec_50K.csv.gz")
#dbutils.fs.mv("dbfs:/FileStore/shared_uploads/amanjainworkemail@gmail.com/Technology_Skills.txt",\ 
               #"/FileStore/tables/Technology_Skills.txt")

In [0]:
# List all the files uploaded in the databrick directory
files = dbutils.fs.ls("/FileStore/tables")

# Filter files to include only those files which are ending with .csv or .txt extensions
file_names = [file.name for file in files if file.name.endswith((".txt", ".gz"))]

# Printing the names of the filtered files
for file_name in file_names:
    print(file_name)

Technology_Skills.txt
skill2vec_50K.csv.gz

In [0]:
# Defining a function to read all the files in the dictionary
def read_files(file_dict):
    """
    Reads multiple files and returns a dictionary of PySpark DataFrame

    Parameters:
        file_dict (dict): A dictionary where the keys are the file names and the values are the file paths.

    Returns:
        A dictionary where the keys are the file names and the values are PySpark DataFrames.
    """
    
    # Create an empty dictionary to store the file data
    file_data = {}

    # Iterate over each file in the file dictionary
    for file_name, file_path in file_dict.items():
        # Check the file extension and read the file accordingly
        if file_path.endswith(".csv") or file_path.endswith(".csv.gz"):
            df = spark.read.format("csv").option("header", "false").load(file_path)
        elif file_path.endswith(".txt"):
            df = spark.read.csv(file_path, sep="\t", header=True)
        else:
            raise ValueError("File format not supported: {}".format(file_path))

        # Store the DataFrame in the file_data dictionary
        file_data[file_name] = df

    # Return the dictionary containing the file data
    return file_data

# Define the file dictionary with file names and paths
file_dict = {
    "skill": "/FileStore/tables/skill2vec_50K.csv.gz",
    "o_net": "/FileStore/tables/Technology_Skills.txt"
}

# Read the files and obtain the dictionary of PySpark DataFrames
file_data = read_files(file_dict)

# Iterate over the file_data dictionary and print the keys (file names)
for key, value in file_data.items():
    print(key)

# Extract and print the individual PySpark DataFrames
main_dataframe = file_data['skill']
o_net = file_data['o_net']

skill
o_net

In [0]:
# Print the schema of the DataFrames
main_dataframe.printSchema()
o_net.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)
 |-- _c29: string (nullable = true)
 |-- _c30: string (nullable = true)
 |-- _c31: string (nullable = true)
 |-- _c32: string (nullable = true)
 |-- _c33: string (nullable = true)
 |-- _c34: string (nullable = true)
 |-- _c35: string (nullable = true)
 |-- _c36: string (nullable = true)
 |-- _c37: string (nullable = true)
 |-- _c38: string (nullable = true)
 |-- _c39: string (nullable = true)
 |-- _c40: string (nullable = true)
 |-- _c41: string (nullable = true)
 |-- _c42: string (nullable = true)
 |-- _c43: string (nullable = true)
 |-- _c44: string (nullable = true)
 |-- _c45: string (nullable = true)
 |-- _c46: string (nullable = true)
 |-- _c47: string (nullable = true)
 |-- _c48: string (nullable = true)
 |-- _c49: string (nullable = true)
 |-- _c50: string (nullable = true)
 |-- _c51: string (nullable = true)
 |-- _c52: string (nullable = true)
 |-- _c53: string (nullable = true)
 |-- _c54: string (nullable = true)
 |-- _c55: string (nullable = true)
 |-- _c56: string (nullable = true)
 |-- _c57: string (nullable = true)
 |-- _c58: string (nullable = true)
 |-- _c59: string (nullable = true)
 |-- _c60: string (nullable = true)
 |-- _c61: string (nullable = true)
 |-- _c62: string (nullable = true)
 |-- _c63: string (nullable = true)
 |-- _c64: string (nullable = true)
 |-- _c65: string (nullable = true)
 |-- _c66: string (nullable = true)
 |-- _c67: string (nullable = true)
 |-- _c68: string (nullable = true)
 |-- _c69: string (nullable = true)
 |-- _c70: string (nullable = true)
 |-- _c71: string (nullable = true)
 |-- _c72: string (nullable = true)
 |-- _c73: string (nullable = true)
 |-- _c74: string (nullable = true)
 |-- _c75: string (nullable = true)
 |-- _c76: string (nullable = true)
 |-- _c77: string (nullable = true)
 |-- _c78: string (nullable = true)
 |-- _c79: string (nullable = true)
 |-- _c80: string (nullable = true)
 |-- _c81: string (nullable = true)
 |-- _c82: string (nullable = true)
 |-- _c83: string (nullable = true)
 |-- _c84: string (nullable = true)
 |-- _c85: string (nullable = true)
 |-- _c86: string (nullable = true)
 |-- _c87: string (nullable = true)
 |-- _c88: string (nullable = true)
 |-- _c89: string (nullable = true)
 |-- _c90: string (nullable = true)
 |-- _c91: string (nullable = true)
 |-- _c92: string (nullable = true)
 |-- _c93: string (nullable = true)
 |-- _c94: string (nullable = true)
 |-- _c95: string (nullable = true)
 |-- _c96: string (nullable = true)
 |-- _c97: string (nullable = true)
 |-- _c98: string (nullable = true)
 |-- _c99: string (nullable = true)
 |-- _c100: string (nullable = true)
 |-- _c101: string (nullable = true)
 |-- _c102: string (nullable = true)
 |-- _c103: string (nullable = true)
 |-- _c104: string (nullable = true)
 |-- _c105: string (nullable = true)
 |-- _c106: string (nullable = true)
 |-- _c107: string (nullable = true)
 |-- _c108: string (nullable = true)
 |-- _c109: string (nullable = true)
 |-- _c110: string (nullable = true)
 |-- _c111: string (nullable = true)
 |-- _c112: string (nullable = true)
 |-- _c113: string (nullable = true)
 |-- _c114: string (nullable = true)
 |-- _c115: string (nullable = true)
 |-- _c116: string (nullable = true)
 |-- _c117: string (nullable = true)
 |-- _c118: string (nullable = true)
 |-- _c119: string (nullable = true)
 |-- _c120: string (nullable = true)
 |-- _c121: string (nullable = true)
 |-- _c122: string (nullable = true)
 |-- _c123: string (nullable = true)
 |-- _c124: string (nullable = true)
 |-- _c125: string (nullable = true)
 |-- _c126: string (nullable = true)
 |-- _c127: string (nullable = true)
 |-- _c128: string (nullable = true)
 |-- _c129: string (nullable = true)
 |-- _c130: string (nullable = true)
 |-- _c131: string (nullable = true)
 |-- _c132: string (nullable = true)
 |-- _c133: string (nullable = true)
 |-- _c134: string (nullable = true)
 |-- _c135: string (nullable = true)
 |-- _c136: string (nullable = true)
 |-- _c137: string (nullable = true)
 |-- _c138: string (nullable = true)
 |-- _c139: string (nullable = true)
 |-- _c140: string (nullable = true)
 |-- _c141: string (nullable = true)
 |-- _c142: string (nullable = true)
 |-- _c143: string (nullable = true)
 |-- _c144: string (nullable = true)
 |-- _c145: string (nullable = true)
 |-- _c146: string (nullable = true)
 |-- _c147: string (nullable = true)
 |-- _c148: string (nullable = true)
 |-- _c149: string (nullable = true)
 |-- _c150: string (nullable = true)
 |-- _c151: string (nullable = true)
 |-- _c152: string (nullable = true)
 |-- _c153: string (nullable = true)
 |-- _c154: string (nullable = true)
 |-- _c155: string (nullable = true)
 |-- _c156: string (nullable = true)
 |-- _c157: string (nullable = true)
 |-- _c158: string (nullable = true)
 |-- _c159: string (nullable = true)
 |-- _c160: string (nullable = true)
 |-- _c161: string (nullable = true)
 |-- _c162: string (nullable = true)
 |-- _c163: string (nullable = true)
 |-- _c164: string (nullable = true)
 |-- _c165: string (nullable = true)
 |-- _c166: string (nullable = true)
 |-- _c167: string (nullable = true)
 |-- _c168: string (nullable = true)
 |-- _c169: string (nullable = true)
 |-- _c170: string (nullable = true)
 |-- _c171: string (nullable = true)
 |-- _c172: string (nullable = true)
 |-- _c173: string (nullable = true)
 |-- _c174: string (nullable = true)
 |-- _c175: string (nullable = true)
 |-- _c176: string (nullable = true)
 |-- _c177: string (nullable = true)
 |-- _c178: string (nullable = true)
 |-- _c179: string (nullable = true)
 |-- _c180: string (nullable = true)
 |-- _c181: string (nullable = true)
 |-- _c182: string (nullable = true)
 |-- _c183: string (nullable = true)
 |-- _c184: string (nullable = true)
 |-- _c185: string (nullable = true)
 |-- _c186: string (nullable = true)
 |-- _c187: string (nullable = true)
 |-- _c188: string (nullable = true)
 |-- _c189: string (nullable = true)
 |-- _c190: string (nullable = true)
 |-- _c191: string (nullable = true)
 |-- _c192: string (nullable = true)
 |-- _c193: string (nullable = true)
 |-- _c194: string (nullable = true)
 |-- _c195: string (nullable = true)
 |-- _c196: string (nullable = true)
 |-- _c197: string (nullable = true)
 |-- _c198: string (nullable = true)
 |-- _c199: string (nullable = true)
 |-- _c200: string (nullable = true)
 |-- _c201: string (nullable = true)
 |-- _c202: string (nullable = true)
 |-- _c203: string (nullable = true)
 |-- _c204: string (nullable = true)
 |-- _c205: string (nullable = true)
 |-- _c206: string (nullable = true)
 |-- _c207: string (nullable = true)
 |-- _c208: string (nullable = true)
 |-- _c209: string (nullable = true)
 |-- _c210: string (nullable = true)
 |-- _c211: string (nullable = true)
 |-- _c212: string (nullable = true)
 |-- _c213: string (nullable = true)
 |-- _c214: string (nullable = true)
 |-- _c215: string (nullable = true)
 |-- _c216: string (nullable = true)
 |-- _c217: string (nullable = true)
 |-- _c218: string (nullable = true)
 |-- _c219: string (nullable = true)
 |-- _c220: string (nullable = true)
 |-- _c221: string (nullable = true)
 |-- _c222: string (nullable = true)
 |-- _c223: string (nullable = true)
 |-- _c224: string (nullable = true)
 |-- _c225: string (nullable = true)
 |-- _c226: string (nullable = true)
 |-- _c227: string (nullable = true)
 |-- _c228: string (nullable = true)
 |-- _c229: string (nullable = true)
 |-- _c230: string (nullable = true)
 |-- _c231: string (nullable = true)
 |-- _c232: string (nullable = true)
 |-- _c233: string (nullable = true)
 |-- _c234: string (nullable = true)
 |-- _c235: string (nullable = true)
 |-- _c236: string (nullable = true)
 |-- _c237: string (nullable = true)
 |-- _c238: string (nullable = true)
 |-- _c239: string (nullable = true)
 |-- _c240: string (nullable = true)
 |-- _c241: string (nullable = true)
 |-- _c242: string (nullable = true)
 |-- _c243: string (nullable = true)
 |-- _c244: string (nullable = true)
 |-- _c245: string (nullable = true)
 |-- _c246: string (nullable = true)
 |-- _c247: string (nullable = true)
 |-- _c248: string (nullable = true)
 |-- _c249: string (nullable = true)
 |-- _c250: string (nullable = true)
 |-- _c251: string (nullable = true)
 |-- _c252: string (nullable = true)
 |-- _c253: string (nullable = true)
 |-- _c254: string (nullable = true)
 |-- _c255: string (nullable = true)
 |-- _c256: string (nullable = true)
 |-- _c257: string (nullable = true)
 |-- _c258: string (nullable = true)
 |-- _c259: string (nullable = true)
 |-- _c260: string (nullable = true)
 |-- _c261: string (nullable = true)
 |-- _c262: string (nullable = true)
 |-- _c263: string (nullable = true)
 |-- _c264: string (nullable = true)
 |-- _c265: string (nullable = true)
 |-- _c266: string (nullable = true)
 |-- _c267: string (nullable = true)
 |-- _c268: string (nullable = true)
 |-- _c269: string (nullable = true)
 |-- _c270: string (nullable = true)
 |-- _c271: string (nullable = true)
 |-- _c272: string (nullable = true)
 |-- _c273: string (nullable = true)
 |-- _c274: string (nullable = true)
 |-- _c275: string (nullable = true)
 |-- _c276: string (nullable = true)
 |-- _c277: string (nullable = true)
 |-- _c278: string (nullable = true)
 |-- _c279: string (nullable = true)
 |-- _c280: string (nullable = true)
 |-- _c281: string (nullable = true)
 |-- _c282: string (nullable = true)
 |-- _c283: string (nullable = true)
 |-- _c284: string (nullable = true)
 |-- _c285: string (nullable = true)
 |-- _c286: string (nullable = true)
 |-- _c287: string (nullable = true)
 |-- _c288: string (nullable = true)
 |-- _c289: string (nullable = true)
 |-- _c290: string (nullable = true)
 |-- _c291: string (nullable = true)
 |-- _c292: string (nullable = true)
 |-- _c293: string (nullable = true)
 |-- _c294: string (nullable = true)
 |-- _c295: string (nullable = true)
 |-- _c296: string (nullable = true)
 |-- _c297: string (nullable = true)
 |-- _c298: string (nullable = true)
 |-- _c299: string (nullable = true)
 |-- _c300: string (nullable = true)
 |-- _c301: string (nullable = true)
 |-- _c302: string (nullable = true)
 |-- _c303: string (nullable = true)
 |-- _c304: string (nullable = true)
 |-- _c305: string (nullable = true)
 |-- _c306: string (nullable = true)
 |-- _c307: string (nullable = true)
 |-- _c308: string (nullable = true)
 |-- _c309: string (nullable = true)
 |-- _c310: string (nullable = true)
 |-- _c311: string (nullable = true)
 |-- _c312: string (nullable = true)
 |-- _c313: string (nullable = true)
 |-- _c314: string (nullable = true)
 |-- _c315: string (nullable = true)
 |-- _c316: string (nullable = true)
 |-- _c317: string (nullable = true)
 |-- _c318: string (nullable = true)
 |-- _c319: string (nullable = true)
 |-- _c320: string (nullable = true)
 |-- _c321: string (nullable = true)
 |-- _c322: string (nullable = true)
 |-- _c323: string (nullable = true)
 |-- _c324: string (nullable = true)
 |-- _c325: string (nullable = true)
 |-- _c326: string (nullable = true)
 |-- _c327: string (nullable = true)
 |-- _c328: string (nullable = true)
 |-- _c329: string (nullable = true)
 |-- _c330: string (nullable = true)
 |-- _c331: string (nullable = true)
 |-- _c332: string (nullable = true)
 |-- _c333: string (nullable = true)
 |-- _c334: string (nullable = true)
 |-- _c335: string (nullable = true)
 |-- _c336: string (nullable = true)
 |-- _c337: string (nullable = true)
 |-- _c338: string (nullable = true)
 |-- _c339: string (nullable = true)
 |-- _c340: string (nullable = true)
 |-- _c341: string (nullable = true)
 |-- _c342: string (nullable = true)
 |-- _c343: string (nullable = true)
 |-- _c344: string (nullable = true)
 |-- _c345: string (nullable = true)
 |-- _c346: string (nullable = true)
 |-- _c347: string (nullable = true)
 |-- _c348: string (nullable = true)
 |-- _c349: string (nullable = true)
 |-- _c350: string (nullable = true)
 |-- _c351: string (nullable = true)
 |-- _c352: string (nullable = true)
 |-- _c353: string (nullable = true)
 |-- _c354: string (nullable = true)
 |-- _c355: string (nullable = true)
 |-- _c356: string (nullable = true)
 |-- _c357: string (nullable = true)
 |-- _c358: string (nullable = true)
 |-- _c359: string (nullable = true)
 |-- _c360: string (nullable = true)
 |-- _c361: string (nullable = true)
 |-- _c362: string (nullable = true)
 |-- _c363: string (nullable = true)
 |-- _c364: string (nullable = true)
 |-- _c365: string (nullable = true)
 |-- _c366: string (nullable = true)
 |-- _c367: string (nullable = true)
 |-- _c368: string (nullable = true)
 |-- _c369: string (nullable = true)
 |-- _c370: string (nullable = true)
 |-- _c371: string (nullable = true)
 |-- _c372: string (nullable = true)
 |-- _c373: string (nullable = true)
 |-- _c374: string (nullable = true)
 |-- _c375: string (nullable = true)
 |-- _c376: string (nullable = true)
 |-- _c377: string (nullable = true)
 |-- _c378: string (nullable = true)
 |-- _c379: string (nullable = true)
 |-- _c380: string (nullable = true)
 |-- _c381: string (nullable = true)
 |-- _c382: string (nullable = true)
 |-- _c383: string (nullable = true)
 |-- _c384: string (nullable = true)
 |-- _c385: string (nullable = true)
 |-- _c386: string (nullable = true)
 |-- _c387: string (nullable = true)
 |-- _c388: string (nullable = true)
 |-- _c389: string (nullable = true)
 |-- _c390: string (nullable = true)
 |-- _c391: string (nullable = true)
 |-- _c392: string (nullable = true)
 |-- _c393: string (nullable = true)
 |-- _c394: string (nullable = true)
 |-- _c395: string (nullable = true)
 |-- _c396: string (nullable = true)
 |-- _c397: string (nullable = true)
 |-- _c398: string (nullable = true)
 |-- _c399: string (nullable = true)
 |-- _c400: string (nullable = true)
 |-- _c401: string (nullable = true)
 |-- _c402: string (nullable = true)
 |-- _c403: string (nullable = true)
 |-- _c404: string (nullable = true)
 |-- _c405: string (nullable = true)
 |-- _c406: string (nullable = true)
 |-- _c407: string (nullable = true)
 |-- _c408: string (nullable = true)
 |-- _c409: string (nullable = true)
 |-- _c410: string (nullable = true)
 |-- _c411: string (nullable = true)
 |-- _c412: string (nullable = true)
 |-- _c413: string (nullable = true)
 |-- _c414: string (nullable = true)
 |-- _c415: string (nullable = true)
 |-- _c416: string (nullable = true)
 |-- _c417: string (nullable = true)
 |-- _c418: string (nullable = true)
 |-- _c419: string (nullable = true)
 |-- _c420: string (nullable = true)
 |-- _c421: string (nullable = true)
 |-- _c422: string (nullable = true)
 |-- _c423: string (nullable = true)
 |-- _c424: string (nullable = true)
 |-- _c425: string (nullable = true)
 |-- _c426: string (nullable = true)
 |-- _c427: string (nullable = true)
 |-- _c428: string (nullable = true)
 |-- _c429: string (nullable = true)
 |-- _c430: string (nullable = true)
 |-- _c431: string (nullable = true)
 |-- _c432: string (nullable = true)
 |-- _c433: string (nullable = true)
 |-- _c434: string (nullable = true)
 |-- _c435: string (nullable = true)
 |-- _c436: string (nullable = true)
 |-- _c437: string (nullable = true)
 |-- _c438: string (nullable = true)
 |-- _c439: string (nullable = true)
 |-- _c440: string (nullable = true)
 |-- _c441: string (nullable = true)
 |-- _c442: string (nullable = true)
 |-- _c443: string (nullable = true)
 |-- _c444: string (nullable = true)
 |-- _c445: string (nullable = true)
 |-- _c446: string (nullable = true)
 |-- _c447: string (nullable = true)
 |-- _c448: string (nullable = true)
 |-- _c449: string (nullable = true)
 |-- _c450: string (nullable = true)
 |-- _c451: string (nullable = true)
 |-- _c452: string (nullable = true)
 |-- _c453: string (nullable = true)
 |-- _c454: string (nullable = true)
 |-- _c455: string (nullable = true)
 |-- _c456: string (nullable = true)
 |-- _c457: string (nullable = true)
 |-- _c458: string (nullable = true)
 |-- _c459: string (nullable = true)
 |-- _c460: string (nullable = true)
 |-- _c461: string (nullable = true)
 |-- _c462: string (nullable = true)
 |-- _c463: string (nullable = true)
 |-- _c464: string (nullable = true)
 |-- _c465: string (nullable = true)
 |-- _c466: string (nullable = true)
 |-- _c467: string (nullable = true)
 |-- _c468: string (nullable = true)
 |-- _c469: string (nullable = true)
 |-- _c470: string (nullable = true)
 |-- _c471: string (nullable = true)
 |-- _c472: string (nullable = true)
 |-- _c473: string (nullable = true)
 |-- _c474: string (nullable = true)
 |-- _c475: string (nullable = true)
 |-- _c476: string (nullable = true)
 |-- _c477: string (nullable = true)
 |-- _c478: string (nullable = true)
 |-- _c479: string (nullable = true)
 |-- _c480: string (nullable = true)
 |-- _c481: string (nullable = true)
 |-- _c482: string (nullable = true)
 |-- _c483: string (nullable = true)
 |-- _c484: string (nullable = true)
 |-- _c485: string (nullable = true)
 |-- _c486: string (nullable = true)
 |-- _c487: string (nullable = true)
 |-- _c488: string (nullable = true)
 |-- _c489: string (nullable = true)
 |-- _c490: string (nullable = true)
 |-- _c491: string (nullable = true)
 |-- _c492: string (nullable = true)
 |-- _c493: string (nullable = true)
 |-- _c494: string (nullable = true)
 |-- _c495: string (nullable = true)
 |-- _c496: string (nullable = true)
 |-- _c497: string (nullable = true)
 |-- _c498: string (nullable = true)
 |-- _c499: string (nullable = true)
 |-- _c500: string (nullable = true)
 |-- _c501: string (nullable = true)
 |-- _c502: string (nullable = true)
 |-- _c503: string (nullable = true)
 |-- _c504: string (nullable = true)
 |-- _c505: string (nullable = true)
 |-- _c506: string (nullable = true)
 |-- _c507: string (nullable = true)
 |-- _c508: string (nullable = true)
 |-- _c509: string (nullable = true)
 |-- _c510: string (nullable = true)
 |-- _c511: string (nullable = true)
 |-- _c512: string (nullable = true)
 |-- _c513: string (nullable = true)
 |-- _c514: string (nullable = true)
 |-- _c515: string (nullable = true)
 |-- _c516: string (nullable = true)
 |-- _c517: string (nullable = true)
 |-- _c518: string (nullable = true)
 |-- _c519: string (nullable = true)
 |-- _c520: string (nullable = true)
 |-- _c521: string (nullable = true)
 |-- _c522: string (nullable = true)
 |-- _c523: string (nullable = true)
 |-- _c524: string (nullable = true)
 |-- _c525: string (nullable = true)
 |-- _c526: string (nullable = true)
 |-- _c527: string (nullable = true)
 |-- _c528: string (nullable = true)
 |-- _c529: string (nullable = true)
 |-- _c530: string (nullable = true)
 |-- _c531: string (nullable = true)
 |-- _c532: string (nullable = true)
 |-- _c533: string (nullable = true)
 |-- _c534: string (nullable = true)
 |-- _c535: string (nullable = true)
 |-- _c536: string (nullable = true)
 |-- _c537: string (nullable = true)
 |-- _c538: string (nullable = true)
 |-- _c539: string (nullable = true)
 |-- _c540: string (nullable = true)
 |-- _c541: string (nullable = true)
 |-- _c542: string (nullable = true)

In [0]:
from pyspark.sql.functions import col

# Defining a function to rename columns of the dataframe
def rename_columns(df, prefix):
    """
    Renames columns of a PySpark DataFrame with a given prefix.

    Parameters:
        df: PySpark DataFrame to modify
        prefix (str): Prefix to add to each column name.

    Returns:
        A new PySpark DataFrame with modified column names.
    """
    # Generate a list of new column names by adding the prefix to each existing column name
    column_names = [prefix + str(i+1) for i in range(len(df.columns))]
    
    # Select the columns from the DataFrame and alias them with the new column names
    # using the `col` function from PySpark
    modified_df = df.select([col(c).alias(column_names[i]) for i, c in enumerate(df.columns)])
    
    return modified_df

# Call the `rename_columns` function to rename columns of the `skill_10k` DataFrame
# with the prefix "column"
main_dataframe = rename_columns(main_dataframe, "column")

# Print the schema of the modified DataFrame
main_dataframe.printSchema()

root
 |-- column1: string (nullable = true)
 |-- column2: string (nullable = true)
 |-- column3: string (nullable = true)
 |-- column4: string (nullable = true)
 |-- column5: string (nullable = true)
 |-- column6: string (nullable = true)
 |-- column7: string (nullable = true)
 |-- column8: string (nullable = true)
 |-- column9: string (nullable = true)
 |-- column10: string (nullable = true)
 |-- column11: string (nullable = true)
 |-- column12: string (nullable = true)
 |-- column13: string (nullable = true)
 |-- column14: string (nullable = true)
 |-- column15: string (nullable = true)
 |-- column16: string (nullable = true)
 |-- column17: string (nullable = true)
 |-- column18: string (nullable = true)
 |-- column19: string (nullable = true)
 |-- column20: string (nullable = true)
 |-- column21: string (nullable = true)
 |-- column22: string (nullable = true)
 |-- column23: string (nullable = true)
 |-- column24: string (nullable = true)
 |-- column25: string (nullable = true)
 |-- column26: string (nullable = true)
 |-- column27: string (nullable = true)
 |-- column28: string (nullable = true)
 |-- column29: string (nullable = true)
 |-- column30: string (nullable = true)
 |-- column31: string (nullable = true)
 |-- column32: string (nullable = true)
 |-- column33: string (nullable = true)
 |-- column34: string (nullable = true)
 |-- column35: string (nullable = true)
 |-- column36: string (nullable = true)
 |-- column37: string (nullable = true)
 |-- column38: string (nullable = true)
 |-- column39: string (nullable = true)
 |-- column40: string (nullable = true)
 |-- column41: string (nullable = true)
 |-- column42: string (nullable = true)
 |-- column43: string (nullable = true)
 |-- column44: string (nullable = true)
 |-- column45: string (nullable = true)
 |-- column46: string (nullable = true)
 |-- column47: string (nullable = true)
 |-- column48: string (nullable = true)
 |-- column49: string (nullable = true)
 |-- column50: string (nullable = true)
 |-- column51: string (nullable = true)
 |-- column52: string (nullable = true)
 |-- column53: string (nullable = true)
 |-- column54: string (nullable = true)
 |-- column55: string (nullable = true)
 |-- column56: string (nullable = true)
 |-- column57: string (nullable = true)
 |-- column58: string (nullable = true)
 |-- column59: string (nullable = true)
 |-- column60: string (nullable = true)
 |-- column61: string (nullable = true)
 |-- column62: string (nullable = true)
 |-- column63: string (nullable = true)
 |-- column64: string (nullable = true)
 |-- column65: string (nullable = true)
 |-- column66: string (nullable = true)
 |-- column67: string (nullable = true)
 |-- column68: string (nullable = true)
 |-- column69: string (nullable = true)
 |-- column70: string (nullable = true)
 |-- column71: string (nullable = true)
 |-- column72: string (nullable = true)
 |-- column73: string (nullable = true)
 |-- column74: string (nullable = true)
 |-- column75: string (nullable = true)
 |-- column76: string (nullable = true)
 |-- column77: string (nullable = true)
 |-- column78: string (nullable = true)
 |-- column79: string (nullable = true)
 |-- column80: string (nullable = true)
 |-- column81: string (nullable = true)
 |-- column82: string (nullable = true)
 |-- column83: string (nullable = true)
 |-- column84: string (nullable = true)
 |-- column85: string (nullable = true)
 |-- column86: string (nullable = true)
 |-- column87: string (nullable = true)
 |-- column88: string (nullable = true)
 |-- column89: string (nullable = true)
 |-- column90: string (nullable = true)
 |-- column91: string (nullable = true)
 |-- column92: string (nullable = true)
 |-- column93: string (nullable = true)
 |-- column94: string (nullable = true)
 |-- column95: string (nullable = true)
 |-- column96: string (nullable = true)
 |-- column97: string (nullable = true)
 |-- column98: string (nullable = true)
 |-- column99: string (nullable = true)
 |-- column100: string (nullable = true)
 |-- column101: string (nullable = true)
 |-- column102: string (nullable = true)
 |-- column103: string (nullable = true)
 |-- column104: string (nullable = true)
 |-- column105: string (nullable = true)
 |-- column106: string (nullable = true)
 |-- column107: string (nullable = true)
 |-- column108: string (nullable = true)
 |-- column109: string (nullable = true)
 |-- column110: string (nullable = true)
 |-- column111: string (nullable = true)
 |-- column112: string (nullable = true)
 |-- column113: string (nullable = true)
 |-- column114: string (nullable = true)
 |-- column115: string (nullable = true)
 |-- column116: string (nullable = true)
 |-- column117: string (nullable = true)
 |-- column118: string (nullable = true)
 |-- column119: string (nullable = true)
 |-- column120: string (nullable = true)
 |-- column121: string (nullable = true)
 |-- column122: string (nullable = true)
 |-- column123: string (nullable = true)
 |-- column124: string (nullable = true)
 |-- column125: string (nullable = true)
 |-- column126: string (nullable = true)
 |-- column127: string (nullable = true)
 |-- column128: string (nullable = true)
 |-- column129: string (nullable = true)
 |-- column130: string (nullable = true)
 |-- column131: string (nullable = true)
 |-- column132: string (nullable = true)
 |-- column133: string (nullable = true)
 |-- column134: string (nullable = true)
 |-- column135: string (nullable = true)
 |-- column136: string (nullable = true)
 |-- column137: string (nullable = true)
 |-- column138: string (nullable = true)
 |-- column139: string (nullable = true)
 |-- column140: string (nullable = true)
 |-- column141: string (nullable = true)
 |-- column142: string (nullable = true)
 |-- column143: string (nullable = true)
 |-- column144: string (nullable = true)
 |-- column145: string (nullable = true)
 |-- column146: string (nullable = true)
 |-- column147: string (nullable = true)
 |-- column148: string (nullable = true)
 |-- column149: string (nullable = true)
 |-- column150: string (nullable = true)
 |-- column151: string (nullable = true)
 |-- column152: string (nullable = true)
 |-- column153: string (nullable = true)
 |-- column154: string (nullable = true)
 |-- column155: string (nullable = true)
 |-- column156: string (nullable = true)
 |-- column157: string (nullable = true)
 |-- column158: string (nullable = true)
 |-- column159: string (nullable = true)
 |-- column160: string (nullable = true)
 |-- column161: string (nullable = true)
 |-- column162: string (nullable = true)
 |-- column163: string (nullable = true)
 |-- column164: string (nullable = true)
 |-- column165: string (nullable = true)
 |-- column166: string (nullable = true)
 |-- column167: string (nullable = true)
 |-- column168: string (nullable = true)
 |-- column169: string (nullable = true)
 |-- column170: string (nullable = true)
 |-- column171: string (nullable = true)
 |-- column172: string (nullable = true)
 |-- column173: string (nullable = true)
 |-- column174: string (nullable = true)
 |-- column175: string (nullable = true)
 |-- column176: string (nullable = true)
 |-- column177: string (nullable = true)
 |-- column178: string (nullable = true)
 |-- column179: string (nullable = true)
 |-- column180: string (nullable = true)
 |-- column181: string (nullable = true)
 |-- column182: string (nullable = true)
 |-- column183: string (nullable = true)
 |-- column184: string (nullable = true)
 |-- column185: string (nullable = true)
 |-- column186: string (nullable = true)
 |-- column187: string (nullable = true)
 |-- column188: string (nullable = true)
 |-- column189: string (nullable = true)
 |-- column190: string (nullable = true)
 |-- column191: string (nullable = true)
 |-- column192: string (nullable = true)
 |-- column193: string (nullable = true)
 |-- column194: string (nullable = true)
 |-- column195: string (nullable = true)
 |-- column196: string (nullable = true)
 |-- column197: string (nullable = true)
 |-- column198: string (nullable = true)
 |-- column199: string (nullable = true)
 |-- column200: string (nullable = true)
 |-- column201: string (nullable = true)
 |-- column202: string (nullable = true)
 |-- column203: string (nullable = true)
 |-- column204: string (nullable = true)
 |-- column205: string (nullable = true)
 |-- column206: string (nullable = true)
 |-- column207: string (nullable = true)
 |-- column208: string (nullable = true)
 |-- column209: string (nullable = true)
 |-- column210: string (nullable = true)
 |-- column211: string (nullable = true)
 |-- column212: string (nullable = true)
 |-- column213: string (nullable = true)
 |-- column214: string (nullable = true)
 |-- column215: string (nullable = true)
 |-- column216: string (nullable = true)
 |-- column217: string (nullable = true)
 |-- column218: string (nullable = true)
 |-- column219: string (nullable = true)
 |-- column220: string (nullable = true)
 |-- column221: string (nullable = true)
 |-- column222: string (nullable = true)
 |-- column223: string (nullable = true)
 |-- column224: string (nullable = true)
 |-- column225: string (nullable = true)
 |-- column226: string (nullable = true)
 |-- column227: string (nullable = true)
 |-- column228: string (nullable = true)
 |-- column229: string (nullable = true)
 |-- column230: string (nullable = true)
 |-- column231: string (nullable = true)
 |-- column232: string (nullable = true)
 |-- column233: string (nullable = true)
 |-- column234: string (nullable = true)
 |-- column235: string (nullable = true)
 |-- column236: string (nullable = true)
 |-- column237: string (nullable = true)
 |-- column238: string (nullable = true)
 |-- column239: string (nullable = true)
 |-- column240: string (nullable = true)
 |-- column241: string (nullable = true)
 |-- column242: string (nullable = true)
 |-- column243: string (nullable = true)
 |-- column244: string (nullable = true)
 |-- column245: string (nullable = true)
 |-- column246: string (nullable = true)
 |-- column247: string (nullable = true)
 |-- column248: string (nullable = true)
 |-- column249: string (nullable = true)
 |-- column250: string (nullable = true)
 |-- column251: string (nullable = true)
 |-- column252: string (nullable = true)
 |-- column253: string (nullable = true)
 |-- column254: string (nullable = true)
 |-- column255: string (nullable = true)
 |-- column256: string (nullable = true)
 |-- column257: string (nullable = true)
 |-- column258: string (nullable = true)
 |-- column259: string (nullable = true)
 |-- column260: string (nullable = true)
 |-- column261: string (nullable = true)
 |-- column262: string (nullable = true)
 |-- column263: string (nullable = true)
 |-- column264: string (nullable = true)
 |-- column265: string (nullable = true)
 |-- column266: string (nullable = true)
 |-- column267: string (nullable = true)
 |-- column268: string (nullable = true)
 |-- column269: string (nullable = true)
 |-- column270: string (nullable = true)
 |-- column271: string (nullable = true)
 |-- column272: string (nullable = true)
 |-- column273: string (nullable = true)
 |-- column274: string (nullable = true)
 |-- column275: string (nullable = true)
 |-- column276: string (nullable = true)
 |-- column277: string (nullable = true)
 |-- column278: string (nullable = true)
 |-- column279: string (nullable = true)
 |-- column280: string (nullable = true)
 |-- column281: string (nullable = true)
 |-- column282: string (nullable = true)
 |-- column283: string (nullable = true)
 |-- column284: string (nullable = true)
 |-- column285: string (nullable = true)
 |-- column286: string (nullable = true)
 |-- column287: string (nullable = true)
 |-- column288: string (nullable = true)
 |-- column289: string (nullable = true)
 |-- column290: string (nullable = true)
 |-- column291: string (nullable = true)
 |-- column292: string (nullable = true)
 |-- column293: string (nullable = true)
 |-- column294: string (nullable = true)
 |-- column295: string (nullable = true)
 |-- column296: string (nullable = true)
 |-- column297: string (nullable = true)
 |-- column298: string (nullable = true)
 |-- column299: string (nullable = true)
 |-- column300: string (nullable = true)
 |-- column301: string (nullable = true)
 |-- column302: string (nullable = true)
 |-- column303: string (nullable = true)
 |-- column304: string (nullable = true)
 |-- column305: string (nullable = true)
 |-- column306: string (nullable = true)
 |-- column307: string (nullable = true)
 |-- column308: string (nullable = true)
 |-- column309: string (nullable = true)
 |-- column310: string (nullable = true)
 |-- column311: string (nullable = true)
 |-- column312: string (nullable = true)
 |-- column313: string (nullable = true)
 |-- column314: string (nullable = true)
 |-- column315: string (nullable = true)
 |-- column316: string (nullable = true)
 |-- column317: string (nullable = true)
 |-- column318: string (nullable = true)
 |-- column319: string (nullable = true)
 |-- column320: string (nullable = true)
 |-- column321: string (nullable = true)
 |-- column322: string (nullable = true)
 |-- column323: string (nullable = true)
 |-- column324: string (nullable = true)
 |-- column325: string (nullable = true)
 |-- column326: string (nullable = true)
 |-- column327: string (nullable = true)
 |-- column328: string (nullable = true)
 |-- column329: string (nullable = true)
 |-- column330: string (nullable = true)
 |-- column331: string (nullable = true)
 |-- column332: string (nullable = true)
 |-- column333: string (nullable = true)
 |-- column334: string (nullable = true)
 |-- column335: string (nullable = true)
 |-- column336: string (nullable = true)
 |-- column337: string (nullable = true)
 |-- column338: string (nullable = true)
 |-- column339: string (nullable = true)
 |-- column340: string (nullable = true)
 |-- column341: string (nullable = true)
 |-- column342: string (nullable = true)
 |-- column343: string (nullable = true)
 |-- column344: string (nullable = true)
 |-- column345: string (nullable = true)
 |-- column346: string (nullable = true)
 |-- column347: string (nullable = true)
 |-- column348: string (nullable = true)
 |-- column349: string (nullable = true)
 |-- column350: string (nullable = true)
 |-- column351: string (nullable = true)
 |-- column352: string (nullable = true)
 |-- column353: string (nullable = true)
 |-- column354: string (nullable = true)
 |-- column355: string (nullable = true)
 |-- column356: string (nullable = true)
 |-- column357: string (nullable = true)
 |-- column358: string (nullable = true)
 |-- column359: string (nullable = true)
 |-- column360: string (nullable = true)
 |-- column361: string (nullable = true)
 |-- column362: string (nullable = true)
 |-- column363: string (nullable = true)
 |-- column364: string (nullable = true)
 |-- column365: string (nullable = true)
 |-- column366: string (nullable = true)
 |-- column367: string (nullable = true)
 |-- column368: string (nullable = true)
 |-- column369: string (nullable = true)
 |-- column370: string (nullable = true)
 |-- column371: string (nullable = true)
 |-- column372: string (nullable = true)
 |-- column373: string (nullable = true)
 |-- column374: string (nullable = true)
 |-- column375: string (nullable = true)
 |-- column376: string (nullable = true)
 |-- column377: string (nullable = true)
 |-- column378: string (nullable = true)
 |-- column379: string (nullable = true)
 |-- column380: string (nullable = true)
 |-- column381: string (nullable = true)
 |-- column382: string (nullable = true)
 |-- column383: string (nullable = true)
 |-- column384: string (nullable = true)
 |-- column385: string (nullable = true)
 |-- column386: string (nullable = true)
 |-- column387: string (nullable = true)
 |-- column388: string (nullable = true)
 |-- column389: string (nullable = true)
 |-- column390: string (nullable = true)
 |-- column391: string (nullable = true)
 |-- column392: string (nullable = true)
 |-- column393: string (nullable = true)
 |-- column394: string (nullable = true)
 |-- column395: string (nullable = true)
 |-- column396: string (nullable = true)
 |-- column397: string (nullable = true)
 |-- column398: string (nullable = true)
 |-- column399: string (nullable = true)
 |-- column400: string (nullable = true)
 |-- column401: string (nullable = true)
 |-- column402: string (nullable = true)
 |-- column403: string (nullable = true)
 |-- column404: string (nullable = true)
 |-- column405: string (nullable = true)
 |-- column406: string (nullable = true)
 |-- column407: string (nullable = true)
 |-- column408: string (nullable = true)
 |-- column409: string (nullable = true)
 |-- column410: string (nullable = true)
 |-- column411: string (nullable = true)
 |-- column412: string (nullable = true)
 |-- column413: string (nullable = true)
 |-- column414: string (nullable = true)
 |-- column415: string (nullable = true)
 |-- column416: string (nullable = true)
 |-- column417: string (nullable = true)
 |-- column418: string (nullable = true)
 |-- column419: string (nullable = true)
 |-- column420: string (nullable = true)
 |-- column421: string (nullable = true)
 |-- column422: string (nullable = true)
 |-- column423: string (nullable = true)
 |-- column424: string (nullable = true)
 |-- column425: string (nullable = true)
 |-- column426: string (nullable = true)
 |-- column427: string (nullable = true)
 |-- column428: string (nullable = true)
 |-- column429: string (nullable = true)
 |-- column430: string (nullable = true)
 |-- column431: string (nullable = true)
 |-- column432: string (nullable = true)
 |-- column433: string (nullable = true)
 |-- column434: string (nullable = true)
 |-- column435: string (nullable = true)
 |-- column436: string (nullable = true)
 |-- column437: string (nullable = true)
 |-- column438: string (nullable = true)
 |-- column439: string (nullable = true)
 |-- column440: string (nullable = true)
 |-- column441: string (nullable = true)
 |-- column442: string (nullable = true)
 |-- column443: string (nullable = true)
 |-- column444: string (nullable = true)
 |-- column445: string (nullable = true)
 |-- column446: string (nullable = true)
 |-- column447: string (nullable = true)
 |-- column448: string (nullable = true)
 |-- column449: string (nullable = true)
 |-- column450: string (nullable = true)
 |-- column451: string (nullable = true)
 |-- column452: string (nullable = true)
 |-- column453: string (nullable = true)
 |-- column454: string (nullable = true)
 |-- column455: string (nullable = true)
 |-- column456: string (nullable = true)
 |-- column457: string (nullable = true)
 |-- column458: string (nullable = true)
 |-- column459: string (nullable = true)
 |-- column460: string (nullable = true)
 |-- column461: string (nullable = true)
 |-- column462: string (nullable = true)
 |-- column463: string (nullable = true)
 |-- column464: string (nullable = true)
 |-- column465: string (nullable = true)
 |-- column466: string (nullable = true)
 |-- column467: string (nullable = true)
 |-- column468: string (nullable = true)
 |-- column469: string (nullable = true)
 |-- column470: string (nullable = true)
 |-- column471: string (nullable = true)
 |-- column472: string (nullable = true)
 |-- column473: string (nullable = true)
 |-- column474: string (nullable = true)
 |-- column475: string (nullable = true)
 |-- column476: string (nullable = true)
 |-- column477: string (nullable = true)
 |-- column478: string (nullable = true)
 |-- column479: string (nullable = true)
 |-- column480: string (nullable = true)
 |-- column481: string (nullable = true)
 |-- column482: string (nullable = true)
 |-- column483: string (nullable = true)
 |-- column484: string (nullable = true)
 |-- column485: string (nullable = true)
 |-- column486: string (nullable = true)
 |-- column487: string (nullable = true)
 |-- column488: string (nullable = true)
 |-- column489: string (nullable = true)
 |-- column490: string (nullable = true)

In [0]:
from pyspark.sql.functions import concat_ws, count

# Defining a function to concatenate the skills into one column
def concatenate_columns(df):
    """
    Concatenates all columns in a PySpark DataFrame except the first column.

    Parameters:
        dataframe: PySpark DataFrame to modify

    Returns:
        A new PySpark DataFrame with concatenated column.
    """
    # Get all column names of the DataFrame
    columns = df.columns

    # Concatenate all skills columns into a single column
    df = df.withColumn("skills", concat_ws(",", *[col(c) for c in columns[1:]]))

    # Rename the first column to 'JD'
    df = df.withColumnRenamed(columns[0], "JD")
    
    # Change datatype of 'JD' column to integer
    df = df.withColumn("JD", col("JD").cast("integer"))

    # Select only first column 'JD' and concenated column 'skills'
    df = df.select("JD", "skills")

    #returning the dataframe to the funtion call
    return df

# Call the `concatenate_columns` function to concatenate all columns in the `skill_50k` DataFrame
# except the first column i.e job identifier
main_dataframe = concatenate_columns(main_dataframe)

# Print the schema of the modified DataFrame
main_dataframe.printSchema()

root
 |-- JD: integer (nullable = true)
 |-- skills: string (nullable = false)

In [0]:
# Defining a function to count null and not null values
def count_null_not_null(df, column_name):
    """
    Counts the number of null and non-null in a column of a 
    PySpark DataFrame.

    Parameters:
        df: PySpark DataFrame to modify
        column_name: The name of the column to count the null and non-null values 

    Returns:
        A tuple with the number of null values and non-null values,
        respectively.
    """
    # Count the number of null values in the specified column
    null_count = df.filter(col(column_name).isNull()).count()

    # Count the number of non-null values in the specified column
    not_null_count = df.filter(col(column_name).isNotNull()).count()
    
    # Count the number of distinct values in the specified column
    distinct_values = df.select(column_name).distinct().count()

    return distinct_values, null_count, not_null_count

# Call the `count_null_not_null` function to count null and non-null values
# in the "JD" column of the `skill_10k_02` DataFrame
distinct_values, null_count, not_null_count = count_null_not_null(main_dataframe, "JD")


# Print the results
print("Number of null values in job description column:", null_count)
print("Number of non-null values in job description column:", not_null_count)
print("Number of distinct_values in job description column:",distinct_values)

Number of null values in job description column: 0
Number of non-null values in job description column: 50000
Number of distinct_values in job description column: 50000

In [0]:
from pyspark.sql.functions import split, explode

# Split the skills column into individual skills
split_df = main_dataframe.withColumn("skills", split(main_dataframe["skills"], ","))

# Explode the skills column to create a new row for each skill
exploded_df = split_df.select("JD", explode(split_df.skills).alias("skill"))

#show exploaded value of exploaded_Df dataframe
exploded_df.show()

+------+--------------------+
|    JD|               skill|
+------+--------------------+
|125720|        HR Executive|
|125720|           screening|
|125720|           selection|
|125720|           Interview|
|125720|                  HR|
|125720|           Recruiter|
|125720|        IT Recruiter|
|125720|            Sourcing|
|125720|recruitment execu...|
|125720|          onboarding|
|125720|      IT Recruitment|
|112708|     Special Teacher|
|112708|            Teaching|
|112708|           Education|
|115226|          consulting|
|115226|             fresher|
|115226|         IT helpdesk|
|115226|Techincal Trouble...|
|115226| international voice|
|115226|   international BPO|
+------+--------------------+
only showing top 20 rows

In [0]:
# QUESTION 1

# Defining a function to count distinct job desctiption
def count_distinct_jd(df, column_name):
    """
    Counts the number of distinct job descriptions in a PySpark DataFrame and prints the result.

    Parameters:
        df: PySpark DataFrame to modify
        column_name: The name of the column to count the distinct values 

    Returns:
        None
    """
    # Count the number of distinct job descriptions by selecting the "JD" column,
    # applying the `distinct` function, and then counting the result
    num_distinct = df.select(column_name).distinct().count()

    # Print the formatted count of distinct job descriptions
    print('{0:,.0f}'.format(num_distinct))

print("50K")
# count_distinct_jd funtion call to count the distinch job description
count_distinct_jd(main_dataframe, "JD")

50K
50,000

In [0]:
# QUESTION 2

from pyspark.sql.functions import count

# Defining a function to count frequency of individual skills
def count_skills(df, column_name, num_top_skills):
    """
    Counts the frequency of individual skills in a PySpark DataFrame and returns the top n most frequent skills.

    Parameters:
        df: PySpark DataFrame to modify
        column_name (str): The name of the column in the DataFrame that contains the skills
        num_top_skills (int): The number of top skills to return

    Returns:
        None
    """
    
    #dropping duplicate values
    exploded_df1 = exploded_df.drop_duplicates()
    
    # Group the DataFrame by skill and count the frequency of each skill
    skill_count = exploded_df1.groupBy("skill").agg(count("*").alias("Frequency"))

    # Get the top N skills based on frequency
    top_skills = skill_count.orderBy("Frequency", ascending=False).limit(num_top_skills)
    
    # display the top skills without truncating the output
    top_skills.show(truncate = False)
    
# calling funtion count_skills
count_skills(main_dataframe, "skills",10)

+--------------------+---------+
|skill               |Frequency|
+--------------------+---------+
|Java                |1911     |
|Javascript          |1770     |
|Sales               |1705     |
|Business Development|1545     |
|Web Technologies    |1313     |
|Communication Skills|1305     |
|development         |1238     |
|Marketing           |1184     |
|Finance             |1078     |
|HTML                |1067     |
+--------------------+---------+

In [0]:
# 1. FURTHER EXPLORATION OF QUESTION 2 

from pyspark.ml.feature import StopWordsRemover
from pyspark.sql.functions import count

# Instantiate a StopWordsRemover object and specify the input and output columns:
stopwords = StopWordsRemover(inputCol="skills", outputCol="skill")

# Apply the stop words removal transformation to the split_Df DataFrame:
df_filtered = stopwords.transform(split_df)

# Explode the skill_list column to create a new row for each skill
new_exploaded = df_filtered.select("JD", explode(df_filtered.skill).alias("skills"))

#T otal number of skills before removing stopwords
print("Total number of skills before removing stopwords", exploded_df.count())

# Total number of skills after removing stopwords
print("Total number of skills after removing stopwords", new_exploaded.count())

Total number of skills before removing stopwords 463908
Total number of skills after removing stopwords 462903

In [0]:
# 2. FURTHER EXPLORATION OF QUESTION 2 

from pyspark.sql.functions import count

# Defining a function to count frequency of individual skills
def count_skills(df, column_name, num_top_skills):
    """
    Counts the frequency of individual skills in a PySpark DataFrame and returns the top n 
    most frequent skills.

    Parameters:
        df: PySpark DataFrame to modify
        column_name (str): The name of the column in the DataFrame that contains the skills
        num_top_skills (int): The number of top skills to return

    Returns:
        None
    """
    
    
    # Dropping the skills which have numbers and not words
    duplicate1 = new_exploaded.groupBy("skills").count().filter(col("skills") > 1)

    # Get the values to remove as a list
    values_to_remove = [row[0] for row in duplicate1.select("skills").collect()]
    
    # Remove values from the DataFrame that are in values_to_remove
    exploded_df1 = new_exploaded.filter(~col("skills").isin(values_to_remove))
    
    #dropping duplicate values
    exploded_df1 = exploded_df1.drop_duplicates()
    
    # Group the DataFrame by skill and count the frequency of each skill
    skill_count = exploded_df1.groupBy("skills").agg(count("*").alias("Frequency"))

    # Get the top N skills based on frequency
    top_skills = skill_count.orderBy("Frequency", ascending=False).limit(num_top_skills)
    
    # display the numeric values 
    display("numeric values in the skills column are", values_to_remove)
    
    # display the top skills without truncating the output
    display(top_skills)
    
# calling funtion count_skills
count_skills(main_dataframe, "skills",10)

'numeric values in the skills column are'['50001',
 '7',
 '2016',
 '2012',
 '138',
 '1099',
 '3',
 '8',
 '2017',
 '2014',
 '8300',
 '2013',
 '4.5',
 '16',
 '61850',
 '2000',
 '4300',
 '9001',
 '573',
 '826',
 '825',
 '300',
 '5',
 '401',
 '13485',
 '286',
 '3.5',
 '18001',
 '1040',
 '201',
 '90',
 '429',
 '2105',
 '2008',
 '27001',
 '156',
 '22000',
 '4.0',
 '9000',
 '8051',
 '108',
 '60870',
 '50000',
 '24',
 '26262',
 '10',
 '802.11',
 '2015',
 '510',
 '400',
 '12',
 '+2',
 '508',
 '661',
 '2010',
 '2003',
 '14001',
 '820',
 '820.2']

skills,Frequency
Java,1911
Javascript,1770
Sales,1705
Business Development,1545
Web Technologies,1313
Communication Skills,1305
development,1238
Marketing,1184
Finance,1078
HTML,1067

In [0]:
 # QUESTION 3

from pyspark.sql.functions import size, array_distinct

# Defining a function to count frequency of individual skills and job description
def frequent_numbers_of_skills(df, num_top_freq_skills):
    
    """
    Counts the frequency of individual skills and job description 
    in a PySpark DataFrame

    Parameters:
        df: PySpark DataFrame to modify
        num_top_freq_skills (int): The number of top skills to return

    Returns:
        None
    """
    #removing duplicates
    split_df1=split_df.drop_duplicates()

    # Count the number of words in the skills column
    df_num_skills = split_df1.withColumn("num skills", size(array_distinct("skills")))

    # Group the DataFrame by the number of skills and count the number of job descriptions for each group
    df_skill_counts = df_num_skills.groupBy("num skills").count()

    # Sort the DataFrame by the count in descending order and select the top 5 rows
    df_top_skills = df_skill_counts.sort("count", ascending=False).limit(num_top_freq_skills)

    # Display the results
    df_top_skills.show(truncate=False)
    
# calling funtion frequent_numbers_of_skills
frequent_numbers_of_skills(main_dataframe, 5)

+----------+-----+
|num skills|count|
+----------+-----+
|10        |10477|
|5         |3432 |
|6         |3405 |
|1         |3386 |
|7         |3345 |
+----------+-----+

In [0]:
# FURTHER EXPLORATION OF QUESTION 3

from pyspark.sql.functions import size, array_distinct
from pyspark.sql.functions import udf
from pyspark.sql.types import ArrayType, StringType


# Define a UDF to remove numeric values from an array
def remove_numeric_values(arr):
    return [val for val in arr if not (isinstance(val, int) or isinstance(val, float))]
    
    
# Defining a function to count frequency of individual skills and job description
def frequent_numbers_of_skills(df, num_top_freq_skills):
    
    """
    Counts the frequency of individual skills and job description 
    in a PySpark DataFrame

    Parameters:
        df: PySpark DataFrame to modify
        num_top_freq_skills (int): The number of top skills to return

    Returns:
        None
    """
    #removing duplicates
    split_df1=df_filtered.drop_duplicates()
    
    # Define a UDF for the remove_numeric_values function
    remove_numeric_values_udf = udf(remove_numeric_values, ArrayType(StringType()))

    # Remove numeric values from the "skills" column using the UDF
    split_df1 = split_df.withColumn("skills", remove_numeric_values_udf(col("skills")))

    # Count the number of words in the skills column
    df_num_skills = split_df1.withColumn("num skills", size(array_distinct("skills")))

    # Group the DataFrame by the number of skills and count the number of job descriptions for each group
    df_skill_counts = df_num_skills.groupBy("num skills").count()

    # Sort the DataFrame by the count in descending order and select the top 5 rows
    df_top_skills = df_skill_counts.sort("count", ascending=False).limit(num_top_freq_skills)

    # Display the results
    df_top_skills.show(truncate=False)
    
# calling funtion frequent_numbers_of_skills
frequent_numbers_of_skills(main_dataframe, 5)

+----------+-----+
|num skills|count|
+----------+-----+
|10        |10477|
|5         |3432 |
|6         |3405 |
|1         |3386 |
|7         |3345 |
+----------+-----+

In [0]:
# QUESTION 4
from pyspark.sql.functions import lower

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase
    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function count distinct lowercase skills 
def distinct_skills_lowercase(df, num_top_skills):
    """
    Counts the frequency of individual skills in a PySpark DataFrame
    Parameters:
        df: PySpark DataFrame to modify
        num_top_skills (int): The number of top skills to return
    Returns:
        None
    """
    #remove duplicates values
    exploded_df1=exploded_df.drop_duplicates()
    
    # Convert the exploded column "skills" to lowercase
    exploded_df_lower = convert_to_lower(exploded_df1,"skill")
    
    # Group the DataFrame by skill and count the frequency of each skill
    exploded_df_lower = exploded_df_lower.groupBy("skill").agg(count("skill").alias("Frequency"))

    # Display the top 10 distinct skills in lowercase and their frequencies
    exploded_df_lower.orderBy("Frequency", ascending=False).show(num_top_skills, truncate=False)
    
# Funtion Call
distinct_skills_lowercase(main_dataframe, 10)

+--------------------+---------+
|skill               |Frequency|
+--------------------+---------+
|java                |2759     |
|javascript          |2738     |
|sales               |2680     |
|business development|2108     |
|marketing           |1809     |
|sql                 |1564     |
|jquery              |1547     |
|html                |1539     |
|communication skills|1537     |
|bpo                 |1530     |
+--------------------+---------+
only showing top 10 rows

In [0]:
#1. FURTHER EXPLORATION QUESTION 4

from pyspark.sql.functions import lower

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase
    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function count distinct lowercase skills 
def distinct_skills_lowercase(df, num_top_skills):
    """
    Counts the frequency of individual skills in a PySpark DataFrame
    Parameters:
        df: PySpark DataFrame to modify
        num_top_skills (int): The number of top skills to return
    Returns:
        None
    """
    #remove duplicates values
    exploded_df1 = new_exploaded.drop_duplicates()
    
    # Convert the exploded column "skills" to lowercase
    exploded_df_lower = convert_to_lower(exploded_df1,"skillS")
    
    # Dropping the skills which have numbers and not words
    duplicate1 = exploded_df1.groupBy("skills").count().filter(col("skills") > 1)

    # Get the values to remove as a list
    values_to_remove = [row[0] for row in duplicate1.select("skills").collect()]

    # Remove values from the DataFrame that are in values_to_remove
    exploded_df_lower = exploded_df_lower.filter(~col("skills").isin(values_to_remove))
    
    # Group the DataFrame by skill and count the frequency of each skill
    exploded_df_lower = exploded_df_lower.groupBy("skills").agg(count("skills").alias("Frequency"))

    # Display the top 10 distinct skills in lowercase and their frequencies
    exploded_df_lower.orderBy("Frequency", ascending=False).show(num_top_skills, truncate=False)
    
# Funtion Call
distinct_skills_lowercase(main_dataframe, 10)

+--------------------+---------+
|skills              |Frequency|
+--------------------+---------+
|java                |2759     |
|javascript          |2738     |
|sales               |2680     |
|business development|2108     |
|marketing           |1809     |
|sql                 |1564     |
|jquery              |1547     |
|html                |1539     |
|communication skills|1537     |
|bpo                 |1530     |
+--------------------+---------+
only showing top 10 rows

In [0]:
#2. FURTHER EXPLORATION QUESTION 4

from pyspark.sql.functions import lower

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase
    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function count distinct lowercase skills 
def distinct_skills_lowercase(df, num_top_skills):
    """
    Counts the frequency of individual skills in a PySpark DataFrame
    Parameters:
        df: PySpark DataFrame to modify
        num_top_skills (int): The number of top skills to return
    Returns:
        None
    """
    #remove duplicates values
    exploded_df1 = new_exploaded.drop_duplicates()
    
    # Convert the exploded column "skills" to lowercase
    exploded_df_lower = convert_to_lower(exploded_df1,"skillS")
    
    # Dropping the skills which have numbers and not words
    duplicate1 = exploded_df1.groupBy("skills").count().filter(col("skills") > 1)

    # Get the values to remove as a list
    values_to_remove = [row[0] for row in duplicate1.select("skills").collect()]

    # Remove values from the DataFrame that are in values_to_remove
    exploded_df_lower = exploded_df_lower.filter(~col("skills").isin(values_to_remove))
    
    # Group the DataFrame by skill and count the frequency of each skill
    exploded_df_lower = exploded_df_lower.groupBy("skills").agg(count("skills").alias("Frequency"))

    # Filtering top 10 distinct skills in lowercase and their frequencies
    exploded_df_lower = exploded_df_lower.orderBy("Frequency", ascending=False).limit(num_top_skills)
    
    # Visualisation of the result
    display(exploded_df_lower)
    
# Funtion Call
distinct_skills_lowercase(main_dataframe, 10)

skills,Frequency
java,2759
javascript,2738
sales,2680
business development,2108
marketing,1809
sql,1564
jquery,1547
html,1539
communication skills,1537
bpo,1530

Databricks visualization. Run in Databricks to view.

In [0]:
# QUESTION 5

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase

    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function join two dataframe and count the skills
def joined_skill(df):
    """
    Counts the frequency of skills and join two dataframe
    Parameters:
        df: PySpark DataFrame to modify
    Returns:
        None
    """
    
    # Convert Example column to lowercase in o_net DataFrame
    df2 = convert_to_lower(o_net, "Example")
    
    # Removing duplicate values from o_net dataset
    df2 = df2.drop_duplicates()
    
    #removing duplicate values from the exploaded_df job description dataset
    exploded_df1=exploded_df.drop_duplicates()

    # Convert the exploded column "skills" to lowercase
    df1 = convert_to_lower(exploded_df1,"skill")

    # Join the two DataFrames on the lowercase skill and Example columns
    joined_df = df1.join(df2, df1.skill == df2.Example)
    
    #Change in the number of skills before and after the join
    a = df1.count()
    b = joined_df.count()
    change = b-a

    # Print the count of skills before join
    print("Skills Count Before Join: {0:,.0f}".format(df1.count()))
    
    # Print the count of skills before after the join
    print("Skills Count After Join: {0:,.0f}".format(joined_df.count()))
    
    # Print the change in number of skills before and after the join
    print("Change in the number of skills before and after the join: {0:,.0f}".format(change))

# call funtion joined_skill
joined_skill(main_dataframe)

Skills Count Before Join: 463,803
Skills Count After Join: 1,101,498
Change in the number of skills before and after the join: 637,695

In [0]:
# 1. FURTHER EXPLORATION FOR QUESTION 5

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase

    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function join two dataframe and count the skills
def joined_skill(df):
    """
    Counts the frequency of skills and join two dataframe
    Parameters:
        df: PySpark DataFrame to modify
    Returns:
        None
    """
    
    # Convert Example column to lowercase in o_net DataFrame
    df2 = convert_to_lower(o_net, "Example")
    
    # Removing duplicate values from o_net dataset
    df2 = df2.drop_duplicates()
    
    #removing duplicate values from the exploaded_df job description dataset
    exploded_df1=exploded_df.drop_duplicates()

    # Convert the exploded column "skills" to lowercase
    df1 = convert_to_lower(exploded_df1,"skill")

    # Join the two DataFrames on the lowercase skill and Example columns
    joined_df = df1.join(df2, df1.skill == df2.Example)
    
    #Change in the number of skills before and after the join
    a = df1.count()
    b = joined_df.count()
    change = b-a

    data = [('Skills Before Join', a),('Skills After Join', b)]
    df_1 = spark.createDataFrame(data, ['Skills', 'Count'])
    
    # Print the count of skills before join
    #print("Skills Count Before Join: {0:,.0f}".format(df1.count()))
    
    # Print the count of skills before after the join
    #print("Skills Count After Join: {0:,.0f}".format(joined_df.count()))
    
    # Print the change in number of skills before and after the join
    #print("Change in the number of skills before and after the join: {0:,.0f}".format(change))
    
    display(df_1)

# call funtion joined_skill
joined_skill(main_dataframe)

Skills,Count
Skills Before Join,463803
Skills After Join,1101498

Databricks visualization. Run in Databricks to view.

In [0]:
# 2. FURTHER EXPLORATION FOR QUESTION 5

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase

    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

# Define a function join two dataframe and count the skills
def joined_skill_01():
    """
    Counts the frequency of skills and join two dataframe
    Parameters:
        df: PySpark DataFrame to modify
    Returns:
        None
    """
    
    # Convert Example column to lowercase in o_net DataFrame
    df2 = convert_to_lower(o_net, "Example")
    
    # Removing duplicate values from dataset
    df2 = df2.drop_duplicates()
    
    # Removing duplicate values from dataset which have no stop words in skill column
    exploded_df1 = new_exploaded.drop_duplicates()

    # Convert the exploded column "skills" to lowercase
    df1 = convert_to_lower(exploded_df1,"skills")
    
    # Calculating the values in skills column which are numbers
    duplicate1 = df1.groupBy("skills").count().filter(col("skills") > 1)
    
    # Calculating the values in Example column which are numbers
    duplicate2 = df2.groupBy("Example").count().filter(col("Example") > 1)
    
    # Get the skills values to remove as a list
    values_to_remove = [row[0] for row in duplicate1.select("skills").collect()]
    
    # Get the Example values to remove as a list
    values_to_remove2 = [row[0] for row in duplicate2.select("Example").collect()]

    # Remove values from the DataFrame that are in values_to_remove
    df1 = df1.filter(~col("skills").isin(values_to_remove))
    
    # Remove values from the DataFrame that are in values_to_remove
    df2 = df2.filter(~col("Example").isin(values_to_remove))

    # Join the two DataFrames on the lowercase skill and Example columns
    joined_df = df2.join(df1, df2.Example == df1.skills)
    
    #Change in the number of skills before and after the join
    a = df1.count()
    b = joined_df.count()
    change = b-a

    # Print the count of skills before join
    # SKILLS NOT HAVING ANY NUMERIC VALUE AND STOPWORDS)
    print("Skills Count Before Join: {0:,.0f}".format(df1.count()))
    
    # Print the count of skills before after the join
    print("Skills Count After Join: {0:,.0f}".format(joined_df.count()))
    
    # Print the change in number of skills before and after the join
    print("Change in the number of skills before and after the join: {0:,.0f}".format(change))

# call funtion joined_skill
joined_skill_01()

Skills Count Before Join: 462,544
Skills Count After Join: 1,101,498
Change in the number of skills before and after the join: 638,954

In [0]:
# QUESTION 6

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase

    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

def commodity_title(df, onet_df, num_of_rows):
    
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        onet_df: PySpark DataFrame to modify
        num_of_rows: The number of top skills to return

    Returns:
        None
    """
    #Convert Example column to lowercase in onet_df
    onet_df = convert_to_lower(onet_df,"Example")

    #remove the duplicate values
    exploded_df1=exploded_df.drop_duplicates()
    
    # Converting exploded column skills into lowercase
    exploded_df_lower = convert_to_lower(exploded_df1,"skill")

    # Join the DataFrames on skill and Example columns
    joined_df = exploded_df_lower.join(onet_df, exploded_df_lower.skill == onet_df.Example)

    # Group by Commodity Title and count the frequency of each title
    commodity_df = joined_df.groupBy("Commodity Title").count() \
        .sort('count', ascending=False) \
        .withColumnRenamed("count", "Frequency")

    # Display the top 10 commodities
    commodity_df.show(num_of_rows, truncate=False)

# call commodity_title function
# Skill DataFrame is called `lower_skills_jd` and the o_net DataFrame is called `o_net`
commodity_title(main_dataframe, o_net, 10)

+-------------------------------------------------+---------+
|Commodity Title                                  |Frequency|
+-------------------------------------------------+---------+
|Object or component oriented development software|324521   |
|Web platform development software                |298754   |
|Operating system software                        |190926   |
|Development environment software                 |53013    |
|Data base management system software             |44132    |
|Analytical or scientific software                |33552    |
|Web page creation and editing software           |31682    |
|Data base user interface and query software      |29436    |
|Spreadsheet software                             |18568    |
|File versioning software                         |13846    |
+-------------------------------------------------+---------+
only showing top 10 rows

In [0]:
# 1. FURTHER EXPLORATION FOR QUESTION 6

# Define a function convert column in dataframe to lowercase
def convert_to_lower(df, column):
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        column: column name to convert to lowercase

    Returns:
        dataframe and column name which is converted to lowercase
    """
    return df.withColumn(column, lower(df[column]))

def commodity_title(df, onet_df, num_of_rows):
    
    """
    convert a column in a datframe to lowercase
    
    Parameters:
        df: PySpark DataFrame to modify
        onet_df: PySpark DataFrame to modify
        num_of_rows: The number of top skills to return

    Returns:
        None
    """
    #Convert Example column to lowercase in onet_df
    onet_df = convert_to_lower(onet_df,"Example")

    #remove the duplicate values
    exploded_df1=exploded_df.drop_duplicates()
    
    # Converting exploded column skills into lowercase
    exploded_df_lower = convert_to_lower(exploded_df1,"skill")

    # Join the DataFrames on skill and Example columns
    joined_df = exploded_df_lower.join(onet_df, exploded_df_lower.skill == onet_df.Example)

    # Group by Commodity Title and count the frequency of each title
    commodity_df = joined_df.groupBy("Commodity Title").count() \
        .sort('count', ascending=False) \
        .withColumnRenamed("count", "Frequency").limit(num_of_rows)

    # Display the top 10 commodities
    display(commodity_df)

# call commodity_title function
# Skill DataFrame is called `lower_skills_jd` and the o_net DataFrame is called `o_net`
commodity_title(main_dataframe, o_net, 10)

Commodity Title,Frequency
Object or component oriented development software,324521
Web platform development software,298754
Operating system software,190926
Development environment software,53013
Data base management system software,44132
Analytical or scientific software,33552
Web page creation and editing software,31682
Data base user interface and query software,29436
Spreadsheet software,18568
File versioning software,13846

Databricks visualization. Run in Databricks to view.